.five {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(min(20%,200px), 1fr));
    width: 98%;
    gap: 30px;
    padding-bottom: min(10%,100px);
    margin: 0 auto;
   


    &__oneh1 {
        font-size: 5rem;
        font-weight: 400;
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 30px;
    }

    &__one-social {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    &__one-social p {
        margin-left: 10px;
        font-weight:500;
        letter-spacing: 1px;
    }

    &__box h1 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    &__box p {
        font-size: 1.2rem;
        padding-top: min(10%, 20px);
    }
}